.galleryList {
  display: flex;
  gap: 48px;
  justify-content: start;
  margin-bottom: 28px;
}

.galleryItem {
  transition: transform 300ms ease-in-out;
}

.galleryItem:hover {
  transform: scale(1.04);
  transition: transform 300ms ease-in-out;
}
